
select {
    padding: 10px;
    padding-right: 30px;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='13' viewBox='0 0 19 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L9.5 10L17 2' stroke='%23DA6A00' stroke-width='3'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat, repeat;
    background-position: right 1em top 50%, 0 0;
    background-size: 1.5em auto, 100%;
}


/* For IE (thanks to @SaiManoj) */
select::-ms-expand {
    display: none;
}
